:root {
  --color-white: #fff;
  --color-grey: #c4c4c4;
  --color-main:#e20e33;
}

/* CSS Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  display: inline-block;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  border: 0;
}

ul,
ol {
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Courier New", Courier, monospace;
}

/* End CSS Reset */

.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e5e5f7;
  opacity: 1;
  background-image: radial-gradient(#e20e33 0.6000000000000001px, #e5e5f7 0.6000000000000001px);
  background-size: 12px 12px;
}

.card {
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-width: 35rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.top {
  height: 10rem;
background-color: #e5e5f7;
  opacity: 1;
  background-image: linear-gradient(30deg, #e20e33 12%, transparent 12.5%, transparent 87%, #e20e33 87.5%, #e20e33), linear-gradient(150deg, #e20e33 12%, transparent 12.5%, transparent 87%, #e20e33 87.5%, #e20e33), linear-gradient(30deg, #e20e33 12%, transparent 12.5%, transparent 87%, #e20e33 87.5%, #e20e33), linear-gradient(150deg, #e20e33 12%, transparent 12.5%, transparent 87%, #e20e33 87.5%, #e20e33), linear-gradient(60deg, #e20e3377 25%, transparent 25.5%, transparent 75%, #e20e3377 75%, #e20e3377), linear-gradient(60deg, #e20e3377 25%, transparent 25.5%, transparent 75%, #e20e3377 75%, #e20e3377);
  background-size: 22px 39px;
  background-position: 0 0, 0 0, 11px 19px, 11px 19px, 0 0, 11px 19px;
}

.middle {
  text-align: center;
  z-index: 1;
  margin-top: -6rem;
}

.pic {
  width: 12rem;
  height: 12rem;
  border: 0.4rem var(--color-white) solid;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.name {
  font-size: 2.2rem;
  color: var(--color-main);
}

.title {
  font-size: 1.6rem;
}

.bottom {
  display: flex;
  margin-top: 3rem;
  border-top: 0.1rem solid var(--color-grey);
}

.column {
  flex: 1;
  text-align: center;
  padding: 1.8rem 1.5rem;
}

.column:nth-child(2) {
  border-left: 0.1rem solid var(--color-grey);
  border-right: 0.1rem solid var(--color-grey);
}

.icon {
  width: 2rem;
  height: 2rem;
}

.username {
  font-size: 1.2rem;
}